.h1 {
  font-size: 30px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #2677BE
}
.h2 {
  font-size: 18px;
  display: inline-block;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  color: #45444F;
}
.h3 {
  padding-left: 60px;
  font-family: 'Roboto', sans-serif;
  color: #45444F;
  font-size: 25px;
}
.search_bar {
  border: 0.5px solid #45444F;
  width: 250px;
  height: 20px;
  border-radius: 3px;
}
.search {
  border: 0.5px solid #45444F;
  width: 20px;
  height: 20px;
  background-color: #72B9FF;
  border-radius: 3px;
}
.notes_1 {
  border: 1px solid #F7F4F8;
  border-radius: 8px;
  box-shadow: 1px 3px #F7F4F8;
  width: 700px;
}
.login {
  border: 0.5px solid #45444F;
  border-radius: 3px;
  width: 70px;
  height: 20px;
  background-color: #72B9FF;
  color: white;
}
.sign_up {
  border: 0.5px solid #45444F;
  border-radius: 3px;
  width: 70px;
  height: 20px;
  background-color: #2677BE;
  color: white;
}
.user {
  border: 1px solid black;
  width: 12px;
  height: 12px;
  background-color: #2677BE;
}

span3 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding-left: 8em;
}
span4 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #287AC1;
  padding-left: 15em;
  font-size: 14px;
}
span5 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #287AC1;
  padding-left: 3em;
  font-size: 14px;
}
span6 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-left: 4em;
}
span7 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  padding-left: 1em;
  padding-right: 2em;
}
span8 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding-left: 28em;
}
span9 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #45444F;
  padding-left: 1em;
  padding-right: 10px;
}
.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #287AC1;
}
span10 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;

  padding-left: 5px;
  padding-right: 12px;
}
span11 {
  display: inline-block;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;

  padding-right: 470px;
}
.notes {
  padding-left: 65px;
  font-family: 'Roboto', sans-serif;

}
.circle1 {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #287AC1;
}
hr {
  border-color: #F7F4F8;
  background-color: #F7F4F8;
}
.header {
  display: inline-block;
  padding-left: 30px;
}
span12 {
  display: inline-block;

}
