body {
  font-family: 'Roboto', sans-serif;
}


.navbar-light .navbar-brand {
  font-size: 35px;
  font-weight: bold;
  padding-left: 10px;
}
.navbar-light .navbar-nav{
  font-size: 20px;
}

.container-fluid {
  text-align: left;
  padding-top: 50px;
  color: white;
  width: 100%;
}
.col-5 {
  margin-top: 75px;
  color: white;
}
#background-photo {
height: 100%;
back-ground position: center;
}
.btn {
  margin-top: 0px;
  align: center;
}
.button {
  margin: 20px auto;
  width: 20%;
}
.no-padding {
  padding: 0 !important;
}

.text-align-center {
  text-align: center;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #484848;
}
